<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezfire.dao.UserDao">
    <select id="getAllUsers" resultType="com.ezfire.domain.User">
        select * from B_RS_RY t
    </select>

    <select id="getUserByDlm" parameterType="String" resultType="com.ezfire.domain.User">
        select * from B_RS_RY t where dlm = #{dlm}
    </select>
</mapper>